@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-principal:#D3D3D3;
    --cor-secundaria:#2E8B57;
    --cor-texto: #000000;
    --cor-de-fundo: #A9A9A9;
    --font:"Open Sans", sans-serif;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
}