@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --cor-principal:#eee8e8;
    --cor-secundaria:#2E8B57;
    --cor-texto: #000000;
    --cor-de-fundo: #A9A9A9;
    --font:"Open Sans", sans-serif;
}
body{
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}
.cabecalho{
    background-color: var(--cor-secundaria);
    text-align: center;
}
.cabecalho__titulo{
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    color: var(--cor-texto);
    margin: 0 2rem 1rem 0;
    font-size: 1.2rem;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}